@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

html,body{
  /* width:100vw; */
 min-height:100vh;
  overflow-x: hidden;;
}

@media screen and (max-width: 425px) {
  #hero h1{
    font-size: 4rem;
    font-weight: bold;
  }

  .herop1{
    text-align: center;
    font-weight: semibold;
  }

  .herop2{
    width: 68%;
    text-align: center;
    font-weight: semibold;
  }

  .paras{
    width:100%;
    font-size: 13px;
    gap:12px;
    padding: 0px 20px;
  }

  .page2p1{
    font-size: 26px;
    padding: 0px 2px;
    font-weight: semibold;
    line-height: 1.2;
    width: 100%;
  }
  .page2p2{
    font-size: 13px;
    font-weight: 600;
  }

  .code{
    left:25px;
    font-size: 13px;
  }

  .product-description{
    font-size: 13px;
    right:15px;
  }

  .barcode{
    width: 100px;
  }

  .purchased{
    padding: 0px 10px;
    bottom:50px;
  }

   .page3p1{
    font-size: 26px;
    padding: 0px 2px;
    font-weight: semibold;
    line-height: 1.2;
    width: 100%;
  }

   .page3p2{
    font-size: 13px;
    font-weight: 600;
  }
  #page4 h2{
    width: 100%;
    font-size: 24px;
    line-height: 1.2;
    font-weight: semibold; 

  }
}